{% macro render(posts) %}
{%- set current_year = '1970' %}
{%- for post in posts.toArray() %}

  {%- set year = date(post.updated, 'YYYY') %}

  {%- if year !== current_year %}
    {%- set current_year = year %}
    <div class="collection-year">
      <span class="collection-header"><span style="position:relative;bottom:30px;font-size:30px;right:5px">┌</span>{{ current_year }}<span style="position:relative;top:22px;font-size:30px;left:3px;">┘</span></span>
    </div>
  {%- endif %}

  <article itemscope itemtype="http://schema.org/Article">
    <header class="post-header">
      <div class="post-meta-container">
        <time itemprop="dateCreated"
              datetime="{{ moment(post.updated).format() }}"
              content="{{ date(post.updated, config.date_format) }}">
          {{ date(post.updated, 'MM-DD') }}
        </time>
      </div>

      <div class="post-title">
        {%- if post.link %}{# Link posts #}
          {%- set postTitleIcon = '<i class="fa fa-external-link-alt"></i>' %}
          {%- set postText = post.title or post.link %}
          {{ next_url(post.link, postText + postTitleIcon, {class: 'post-title-link post-title-link-external', itemprop: 'url'}) }}
        {% else %}
          <a class="post-title-link" href="{{ url_for(post.path) }}" itemprop="url">
            <span itemprop="name">{{ post.title or __('post.untitled') }}</span>
          </a>
        {%- endif %}
      </div>

      {{ post_gallery(post.photos) }}
    </header>
  </article>

{%- endfor %}
{% endmacro %}
