.site-author-image {
  border: $site-author-image-border-width solid $site-author-image-border-color;
  max-width: $site-author-image-width;
  padding: 2px;
  margin-bottom: 2px;
  transition-duration: .2s;
  border: 1px solid $color-font;

  if (hexo-config('avatar.rounded')) {
    border-radius: 50%;
  }

  if (hexo-config('avatar.rotated')) {
    transition: transform 1s ease-out;

    &:hover {
      transform: rotateZ(360deg);
    }
  }
}

.site-author-name {
  color: $color-font;
  font-family: $font-family-headings;
  font-weight: $site-author-name-weight;
  margin: $site-author-name-margin;
}

.site-description {
  color: $site-description-color;
  font-size: $site-description-font-size;
  margin-top: $site-description-margin-top;
  padding: 0 10px;
  position: relative;
  bottom: 2px;
  line-height: 1.6em;
}
