// Variables of Gemini scheme
// ==================================================

@import "Pisces.styl";

// Settings for some of the most global styles.
// --------------------------------------------------
$body-bg-color           = #eee;

// Borders.
// --------------------------------------------------
$box-shadow              = 0 0 3px 1px rgba($color-font, .12) inset;
$box-shadow-hover        = 0 0 3px 1px rgba($color-font, .12) inset;

$border-radius-inner     = 5px;
$border-radius           = 5px;
// $border-radius-inner     = 0 0 0px 0px;
// $border-radius           = 0px;
