.followme {
  color: $grey;
  text-align: center;

  .social-list {
    flex-wrap();
    margin-top: 5px;

    .social-item {
      font-size: 10px;
    }

    .social-link {
      border: 0;
      display:inline-block;
      text-align: center;
      border-bottom: 1px dashed $color-font;
      line-height: 1.2em;
      padding-top: 10px;

      .icon {
        font-size: 1.5em;
      }

      .label {
        font-size: 14px;
      }

      &:hover {
        border-bottom: 1px dashed $color-hover;
      }
    }
  }
}
