@import 'artitalk';
@import 'comment';
@import 'hover';
@import 'gallery';


.page-lists a {
    color:$color-font;
}
.page-lists ul {
    column-count: 2;
    column-gap: 10px;
}
.page-lists li {
    list-style:circle;
    list-style-position: inside;
}

.mindmap-md {
    border-radius: 10px;
}