.tag-cloud {
  text-align: center;
  line-height: 1.3em;
  padding: 0 20px 1.5em;

  a {
    display: inline-block;
    margin: 10px;
  }
}

.tag-cloud-title {
  padding-bottom: 20px;
}

for $tag-cloud in (0 .. 10) {
  $tag-cloud-color = mix($tag-cloud-end, $tag-cloud-start, $tag-cloud * 10);
  .tag-cloud-{$tag-cloud} {
    border-bottom-color: $tag-cloud-color;
    color: $tag-cloud-color !important;

    &:hover {
      color: $color-hover !important;
    }
  }
}

if (hexo-config('darkmode')) {
  @media (prefers-color-scheme: dark) {
    for $tag-cloud in (0 .. 10) {
      $tag-cloud-color = mix($tag-cloud-end-dark, $tag-cloud-start-dark, $tag-cloud * 10);
      .tag-cloud-{$tag-cloud} {
        color: $tag-cloud-color !important;
      }
    }
  }
}
